In [5]:
import pandas as pd

df = pd.read_csv('Listado_Colegios.csv')

print('cantidad de filas y columnas del dataset inicial',df.shape)
df_limpio = df.drop_duplicates()
print('cantidad de filas y columnas del dataset limpio',df_limpio.shape)
print('cantidad de nulos por columnas')
print(df_limpio.isnull().sum())

print("Nombres de las columnas")
nombre_columnas=df_limpio.columns
print(nombre_columnas)

df_limpio=df_limpio.dropna(subset=['telefono'])
df_limpio['etnias']=df_limpio['etnias'].fillna('No Aplica')
df_limpio=df_limpio.drop(columns="sector")
df_limpio=df_limpio.drop(columns="genero")
df_limpio['niveles']=df_limpio['niveles'].fillna('No especificado')
df_limpio['jornadas']=df_limpio['jornadas'].fillna('No especificado')
df_limpio=df_limpio.drop(columns="caracter")
df_limpio['especialidad']=df_limpio['especialidad'].fillna('No especificado')
df_limpio['jornadas']=df_limpio['jornadas'].fillna('No especificado')
df_limpio['grados']=df_limpio['grados'].fillna('No especificado')
df_limpio['modelos_Educativos']=df_limpio['modelos_Educativos'].fillna('No especificado')
df_limpio['capacidades_Excepcionales']=df_limpio['capacidades_Excepcionales'].fillna('No especificado')
df_limpio['discapacidades']=df_limpio['discapacidades'].fillna('No especificado')
df_limpio=df_limpio.drop(columns="internado")
df_limpio=df_limpio.drop(columns="estado")
df_limpio=df_limpio.drop(columns="estrato_Socio_Economico")
df_limpio['correo_Electronico']=df_limpio['correo_Electronico'].fillna('No especificado')
print(f"Avance: {df_limpio.shape}")
print(df_limpio.isnull().sum())

df_limpio.to_csv('Listado_Colegios_Limpio.csv', index=False)

df_limpio.columns = df_limpio.columns.str.lower()
df_limpio.describe()

cantidad de filas y columnas del dataset inicial (2404, 30)
cantidad de filas y columnas del dataset limpio (2404, 30)
cantidad de nulos por columnas
año                             0
secretaria                      0
nombreestablecimiento           0
zona                            0
direccion                       0
telefono                       62
nombre_Rector                   0
tipo_Establecimiento            0
etnias                       2333
sector                       2404
genero                       2404
niveles                        16
jornadas                       13
caracter                     2404
especialidad                 1110
grados                         16
modelos_Educativos             38
capacidades_Excepcionales    2394
discapacidades               1890
idiomas                      1461
numero_de_Sedes                 0
estado                       2404
prestador_de_Servicio           0
propiedad_Planta_Fisica         0
resguardo                       0
matricula_Contratada            0
calendario                      0
internado                    2404
estrato_Socio_Economico      2400
correo_Electronico            428
dtype: int64
Nombres de las columnas
Index(['año', 'secretaria', 'nombreestablecimiento', 'zona', 'direccion',
       'telefono', 'nombre_Rector', 'tipo_Establecimiento', 'etnias', 'sector',
       'genero', 'niveles', 'jornadas', 'caracter', 'especialidad', 'grados',
       'modelos_Educativos', 'capacidades_Excepcionales', 'discapacidades',
       'idiomas', 'numero_de_Sedes', 'estado', 'prestador_de_Servicio',
       'propiedad_Planta_Fisica', 'resguardo', 'matricula_Contratada',
       'calendario', 'internado', 'estrato_Socio_Economico',
       'correo_Electronico'],
      dtype='object')
Avance: (2342, 24)
año                             0
secretaria                      0
nombreestablecimiento           0
zona                            0
direccion                       0
telefono                        0
nombre_Rector                   0
tipo_Establecimiento            0
etnias                          0
niveles                         0
jornadas                        0
especialidad                    0
grados                          0
modelos_Educativos              0
capacidades_Excepcionales       0
discapacidades                  0
idiomas                      1404
numero_de_Sedes                 0
prestador_de_Servicio           0
propiedad_Planta_Fisica         0
resguardo                       0
matricula_Contratada            0
calendario                      0
correo_Electronico              0
dtype: int64

          año  numero_de_sedes
count  2342.0      2342.000000
mean   2016.0         1.169086
std       0.0         0.664291
min    2016.0         1.000000
25%    2016.0         1.000000
50%    2016.0         1.000000
75%    2016.0         1.000000
max    2016.0        14.000000