Cargar Datos

In [1]:
df = pd.read_csv('datos.csv')

NameError: name 'pd' is not defined

Visualizar los Datos

In [ ]:
print(df.head())

Valores (outliers)

In [ ]:
outliers = df[(df[columna] < limite_inferior) | (df[columna] > limite_superior)]
print(f"\nValores atípicos en '{columna}':\n", outliers)

df_sin_outliers = df[(df[columna] >= limite_inferior) & (df[columna] <= limite_superior)]
return df_sin_outliers

Inconsistencias

In [ ]:
df['Genero'].replace({'M': 'Masculino', 'H': 'Masculino', 'F': 'Femenino'}, inplace=True)

Eliminar Valores Faltantes

In [ ]:
df = df.dropna()
df.fillna(df.mean(), inplace=True)

Filtrar Datos

In [ ]:
df_filtrado = df[df['edad'] > 18]

Corrección de Errores

In [ ]:
df['edad'] = pd.to_numeric(df['edad'], errors='coerce')
df['nombre'] = df['nombre'].str.lower()

Eliminar Columnas Innecesarias

In [ ]:
df = df.drop(columns=['columna_innecesaria'])
df = df.drop_duplicates()

Renombrar Columnas

In [ ]:
df.rename(columns={'viejo_nombre': 'nuevo_nombre'}, inplace=True)

Exportar Datos Limpios

In [ ]:
df.to_csv('datos_limpios.csv', index=False)

Ejemplo completo

In [3]:
import pandas as pd
import numpy as np

data = {
    'Nombre': ['Juan', 'Maria', 'Pedro', 'Maria', None, 'Ana', 'Carlos', 'Juan'],
    'Edad': [25, 30, np.nan, 30, 22, 28, np.nan, 25],
    'Genero': ['M', 'F', 'M', 'F', None, 'F', 'M', 'M'],
    'Email': ['juan@mail.com', 'maria@mail.com', 'pedro@mail.com', 'maria@mail.com', 'ana@mail.com', 'ana@mail.com', None, 'juan@mail.com'],
    'Pais': ['Colombia', 'Colombia', 'Mexico', 'Colombia', 'Argentina', 'Argentina', 'Brasil', 'Colombia']
}

df = pd.DataFrame(data)
print("Data original:")
print(df)

df['Edad'].fillna(df['Edad'].mean(), inplace=True)
df['Genero'].fillna(df['Genero'].mode()[0], inplace=True)
df.dropna(subset=['Email'], inplace=True)
print("\nDespués de manejar valores faltantes:")
print(df)

df.drop_duplicates(inplace=True)
print("\nDespués de eliminar duplicados:")
print(df)

df['Genero'].replace({'M': 'Masculino', 'F': 'Femenino'}, inplace=True)
print("\nDespués de estandarizar los valores:")
print(df)

df.reset_index(drop=True, inplace=True)
print("\nDespués de restablecer el índice:")
print(df)

df.to_csv('Datosencillos.csv', index=False)

Data original:
   Nombre  Edad Genero           Email       Pais
0    Juan  25.0      M   juan@mail.com   Colombia
1   Maria  30.0      F  maria@mail.com   Colombia
2   Pedro   NaN      M  pedro@mail.com     Mexico
3   Maria  30.0      F  maria@mail.com   Colombia
4    None  22.0   None    ana@mail.com  Argentina
5     Ana  28.0      F    ana@mail.com  Argentina
6  Carlos   NaN      M            None     Brasil
7    Juan  25.0      M   juan@mail.com   Colombia

Después de manejar valores faltantes:
  Nombre       Edad Genero           Email       Pais
0   Juan  25.000000      M   juan@mail.com   Colombia
1  Maria  30.000000      F  maria@mail.com   Colombia
2  Pedro  26.666667      M  pedro@mail.com     Mexico
3  Maria  30.000000      F  maria@mail.com   Colombia
4   None  22.000000      M    ana@mail.com  Argentina
5    Ana  28.000000      F    ana@mail.com  Argentina
7   Juan  25.000000      M   juan@mail.com   Colombia

Después de eliminar duplicados:
  Nombre       Edad Genero           Email       Pais
0   Juan  25.000000      M   juan@mail.com   Colombia
1  Maria  30.000000      F  maria@mail.com   Colombia
2  Pedro  26.666667      M  pedro@mail.com     Mexico
4   None  22.000000      M    ana@mail.com  Argentina
5    Ana  28.000000      F    ana@mail.com  Argentina

Después de estandarizar los valores:
  Nombre       Edad     Genero           Email       Pais
0   Juan  25.000000  Masculino   juan@mail.com   Colombia
1  Maria  30.000000   Femenino  maria@mail.com   Colombia
2  Pedro  26.666667  Masculino  pedro@mail.com     Mexico
4   None  22.000000  Masculino    ana@mail.com  Argentina
5    Ana  28.000000   Femenino    ana@mail.com  Argentina

Después de restablecer el índice:
  Nombre       Edad     Genero           Email       Pais
0   Juan  25.000000  Masculino   juan@mail.com   Colombia
1  Maria  30.000000   Femenino  maria@mail.com   Colombia
2  Pedro  26.666667  Masculino  pedro@mail.com     Mexico
3   None  22.000000  Masculino    ana@mail.com  Argentina
4    Ana  28.000000   Femenino    ana@mail.com  Argentina

<ipython-input-3-4ff3fa6ebbcd>:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Edad'].fillna(df['Edad'].mean(), inplace=True)
<ipython-input-3-4ff3fa6ebbcd>:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Genero'].fillna(df['Genero'].mode()[0], inplace=True)
<ipython-input-3-4ff3fa6ebbcd>:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Genero'].replace({'M': 'Masculino', 'F': 'Femenino'}, inplace=True)

Otro ejemplo

In [15]:
import pandas as pd
import numpy as np

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv('/content/DatosPersonales.csv')

# 1. Reemplazar valores inconsistentes
# Reemplazar valores vacíos o incorrectos ('None', 'nan', '-') por NaN
df.replace([None, 'nan', '-'], np.nan, inplace=True)

# 2. Limpiar la columna 'Genero'
# Reemplazar 'M', 'H' por 'Masculino' y 'F', 'Mujer' por 'Femenino' para estandarizar
df['Genero'].replace({'M': 'Masculino', 'H': 'Masculino', 'F': 'Femenino', 'Mujer': 'Femenino'}, inplace=True)

# 3. Llenar valores faltantes en 'Edad' y 'Ingresos' con la mediana
df['Edad'].fillna(df['Edad'].median(), inplace=True)
df['Ingresos'].fillna(df['Ingresos'].median(), inplace=True)

# 4. Llenar valores faltantes en 'Pais' con el valor más frecuente (moda)
df['Pais'].fillna(df['Pais'].mode()[0], inplace=True)

# 5. Convertir la columna 'Visitas' a tipo entero y llenar valores faltantes con la media
df['Visitas'] = df['Visitas'].astype(float)
df['Visitas'].fillna(int(df['Visitas'].mean()), inplace=True)

# 6. Eliminar filas donde 'Email' esté vacío
df.dropna(subset=['Email'], inplace=True)

# 7. Eliminar duplicados si es necesario
df.drop_duplicates(inplace=True)

# 8. Restablecer el índice
df.reset_index(drop=True, inplace=True)

# 9. Guardar los datos limpios en un nuevo archivo CSV
df.to_csv('DatosPersonalesLimpios.csv', index=False)

# Mostrar los datos limpios
print(df.to_csv)

<bound method NDFrame.to_csv of   Nombre  Edad     Genero  Ingresos           Email  Visitas       Pais
0   Juan  25.0  Masculino    3000.0   juan@mail.com      5.0   Colombia
1  Maria  30.0   Femenino    4000.0  maria@mail.com      7.0   Colombia
2    NaN  22.0  Masculino    3200.0  pedro@mail.com      6.0   Colombia
3  Luisa  29.0   Femenino    3200.0  luisa@mail.com      8.0  Argentina
4    Ana  28.0   Femenino    3100.0    ana@mail.com      6.0   Colombia>

<ipython-input-15-57c4c9a38532>:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Genero'].replace({'M': 'Masculino', 'H': 'Masculino', 'F': 'Femenino', 'Mujer': 'Femenino'}, inplace=True)
<ipython-input-15-57c4c9a38532>:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Edad'].fillna(df['Edad'].median(), inplace=True)
<ipython-input-15-57c4c9a38532>:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Ingresos'].fillna(df['Ingresos'].median(), inplace=True)
<ipython-input-15-57c4c9a38532>:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Pais'].fillna(df['Pais'].mode()[0], inplace=True)
<ipython-input-15-57c4c9a38532>:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Visitas'].fillna(int(df['Visitas'].mean()), inplace=True)

Otro ejemplo datos sucios:

In [16]:
import pandas as pd
import numpy as np

# Crear un DataFrame con datos de ejemplo, incluyendo algunos valores NaN
df = pd.read_csv('Datosucios.csv')  # This line loads the CSV file
print("Data original:")
print(df)

# Limpieza de datos
# Reemplazar 'None' y 'nan' con NaN de numpy para estandarizar los valores faltantes
df.replace([None, 'nan'], np.nan, inplace=True)
print("Data reemplazo:")
print(df)

# Llenar los valores faltantes para 'Edad' e 'Ingresos' con la mediana, y 'Visitas' con la media
df['Edad'].fillna(df['Edad'].median(), inplace=True)
df['Ingresos'].fillna(df['Ingresos'].median(), inplace=True)
df['Visitas'].fillna(int(df['Visitas'].mean()), inplace=True)
print("Data llena sin valores faltantes:")
print(df)

# Eliminar filas donde 'Email' sea NaN si es necesario
df.dropna(subset=['Email'], inplace=True)
print("Data elimnada del Email:")
print(df)

# Restablecer el índice después de las operaciones de limpieza
df.reset_index(drop=True, inplace=True)

# Guardar los datos limpios en un archivo CSV
cleaned_data_path = 'DatosLimpios.csv'
df.to_csv(cleaned_data_path, index=False)
print("Data guradada:")
print(df)

cleaned_data_path
print("Data para descargar:")
print(df)

Data original:
      ID  Edad  Ingresos               Email  Visitas  Compra
0      1  62.0  67091.01                 NaN      7.0   False
1      2   NaN       NaN  ejemplo@correo.com      NaN   False
2      3  18.0  56035.12                 NaN      5.0   False
3      4  21.0  39727.85  ejemplo@correo.com      3.0   False
4      5  21.0  36938.04       info@data.com      3.0   False
..   ...   ...       ...                 ...      ...     ...
145  146  59.0  55687.28     prueba@test.com      3.0    True
146  147  19.0  83889.63       info@data.com      2.0   False
147  148  54.0  49366.14                 NaN      4.0   False
148  149  28.0  35660.82     prueba@test.com      4.0    True
149  150   NaN       NaN       info@data.com      NaN   False

[150 rows x 6 columns]
Data reemplazo:
      ID  Edad  Ingresos               Email  Visitas  Compra
0      1  62.0  67091.01                 NaN      7.0   False
1      2   NaN       NaN  ejemplo@correo.com      NaN   False
2      3  18.0  56035.12                 NaN      5.0   False
3      4  21.0  39727.85  ejemplo@correo.com      3.0   False
4      5  21.0  36938.04       info@data.com      3.0   False
..   ...   ...       ...                 ...      ...     ...
145  146  59.0  55687.28     prueba@test.com      3.0    True
146  147  19.0  83889.63       info@data.com      2.0   False
147  148  54.0  49366.14                 NaN      4.0   False
148  149  28.0  35660.82     prueba@test.com      4.0    True
149  150   NaN       NaN       info@data.com      NaN   False

[150 rows x 6 columns]
Data llena sin valores faltantes:
      ID  Edad   Ingresos               Email  Visitas  Compra
0      1  62.0  67091.010                 NaN      7.0   False
1      2  41.5  50209.845  ejemplo@correo.com      4.0   False
2      3  18.0  56035.120                 NaN      5.0   False
3      4  21.0  39727.850  ejemplo@correo.com      3.0   False
4      5  21.0  36938.040       info@data.com      3.0   False
..   ...   ...        ...                 ...      ...     ...
145  146  59.0  55687.280     prueba@test.com      3.0    True
146  147  19.0  83889.630       info@data.com      2.0   False
147  148  54.0  49366.140                 NaN      4.0   False
148  149  28.0  35660.820     prueba@test.com      4.0    True
149  150  41.5  50209.845       info@data.com      4.0   False

[150 rows x 6 columns]
Data elimnada del Email:
      ID  Edad   Ingresos               Email  Visitas  Compra
1      2  41.5  50209.845  ejemplo@correo.com      4.0   False
3      4  21.0  39727.850  ejemplo@correo.com      3.0   False
4      5  21.0  36938.040       info@data.com      3.0   False
5      6  57.0  41317.260     prueba@test.com      4.0    True
6      7  27.0  45326.710     prueba@test.com      5.0   False
..   ...   ...        ...                 ...      ...     ...
144  145  32.0  49744.690       info@data.com      8.0   False
145  146  59.0  55687.280     prueba@test.com      3.0    True
146  147  19.0  83889.630       info@data.com      2.0   False
148  149  28.0  35660.820     prueba@test.com      4.0    True
149  150  41.5  50209.845       info@data.com      4.0   False

[112 rows x 6 columns]
Data guradada:
      ID  Edad   Ingresos               Email  Visitas  Compra
0      2  41.5  50209.845  ejemplo@correo.com      4.0   False
1      4  21.0  39727.850  ejemplo@correo.com      3.0   False
2      5  21.0  36938.040       info@data.com      3.0   False
3      6  57.0  41317.260     prueba@test.com      4.0    True
4      7  27.0  45326.710     prueba@test.com      5.0   False
..   ...   ...        ...                 ...      ...     ...
107  145  32.0  49744.690       info@data.com      8.0   False
108  146  59.0  55687.280     prueba@test.com      3.0    True
109  147  19.0  83889.630       info@data.com      2.0   False
110  149  28.0  35660.820     prueba@test.com      4.0    True
111  150  41.5  50209.845       info@data.com      4.0   False

[112 rows x 6 columns]
Data para descargar:
      ID  Edad   Ingresos               Email  Visitas  Compra
0      2  41.5  50209.845  ejemplo@correo.com      4.0   False
1      4  21.0  39727.850  ejemplo@correo.com      3.0   False
2      5  21.0  36938.040       info@data.com      3.0   False
3      6  57.0  41317.260     prueba@test.com      4.0    True
4      7  27.0  45326.710     prueba@test.com      5.0   False
..   ...   ...        ...                 ...      ...     ...
107  145  32.0  49744.690       info@data.com      8.0   False
108  146  59.0  55687.280     prueba@test.com      3.0    True
109  147  19.0  83889.630       info@data.com      2.0   False
110  149  28.0  35660.820     prueba@test.com      4.0    True
111  150  41.5  50209.845       info@data.com      4.0   False

[112 rows x 6 columns]

<ipython-input-16-c2f2b8234248>:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Edad'].fillna(df['Edad'].median(), inplace=True)
<ipython-input-16-c2f2b8234248>:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Ingresos'].fillna(df['Ingresos'].median(), inplace=True)
<ipython-input-16-c2f2b8234248>:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Visitas'].fillna(int(df['Visitas'].mean()), inplace=True)

Tareas repetitivas

In [17]:
import pandas as pd
import numpy as np

# Crear un DataFrame de ejemplo
data = {
    'Nombre': ['Juan', 'Maria', 'Pedro', None, 'Ana', 'Carlos', 'Juan'],
    'Edad': [25, 30, np.nan, 22, 28, np.nan, 25],
    'Genero': ['M', 'F', 'M', None, 'F', 'M', 'M'],
    'Email': ['juan@mail.com', 'maria@mail.com', 'pedro@mail.com', 'ana@mail.com', 'ana@mail.com', None, 'juan@mail.com'],
    'Pais': ['Colombia', None, 'Mexico', 'Argentina', 'Argentina', 'Brasil', 'Colombia']
}

df = pd.DataFrame(data)

# 1. Identificar valores faltantes
print("Valores faltantes:\n", df.isnull().sum())

# 2. Rellenar valores faltantes
df['Edad'].fillna(df['Edad'].median(), inplace=True)  # Usar la mediana para 'Edad'
df['Genero'].fillna('Desconocido', inplace=True)      # Usar un valor específico para 'Genero'
df['Pais'].fillna(df['Pais'].mode()[0], inplace=True)  # Usar la moda para 'Pais'

# 3. Eliminar duplicados
df.drop_duplicates(inplace=True)

# 4. Estandarizar valores (corrección de inconsistencias)
df['Genero'].replace({'M': 'Masculino', 'F': 'Femenino'}, inplace=True)

# 5. Eliminar filas con valores críticos faltantes (como el Email)
df.dropna(subset=['Email'], inplace=True)

# 6. Restablecer el índice después de la eliminación de filas
df.reset_index(drop=True, inplace=True)

# Ver el DataFrame limpio
print("\nData limpia:")
print(df)

Valores faltantes:
 Nombre    1
Edad      2
Genero    1
Email     1
Pais      1
dtype: int64

Data limpia:
  Nombre  Edad       Genero           Email       Pais
0   Juan  25.0    Masculino   juan@mail.com   Colombia
1  Maria  30.0     Femenino  maria@mail.com  Argentina
2  Pedro  25.0    Masculino  pedro@mail.com     Mexico
3   None  22.0  Desconocido    ana@mail.com  Argentina
4    Ana  28.0     Femenino    ana@mail.com  Argentina

<ipython-input-17-018990be6263>:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Edad'].fillna(df['Edad'].median(), inplace=True)  # Usar la mediana para 'Edad'
<ipython-input-17-018990be6263>:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Genero'].fillna('Desconocido', inplace=True)      # Usar un valor específico para 'Genero'
<ipython-input-17-018990be6263>:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Pais'].fillna(df['Pais'].mode()[0], inplace=True)  # Usar la moda para 'Pais'
<ipython-input-17-018990be6263>:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Genero'].replace({'M': 'Masculino', 'F': 'Femenino'}, inplace=True)