In [7]:
import pandas as pd

data={
    'Nombre':['Juan','Ana,','Pedro','Maria','Luis','Ana'],
    'Edad':[28,34,None,45,38,34],
    'Salario':[3000,4000,'cinco mil',4500,4000,5000],
    'FechaIngreso':['2021-01-15','2020/04/12','2022-07-01','2021/12/01','2021-05-20','2020-03-12']
}
df = pd.DataFrame(data)
#print(df)
print("valores faltantes: ")
print(df.isnull().sum())
salarios_icorrectos = df[~df['Salario'].astype(str).str.match(r'^\d+$')]
print("Salarios incorrectos: ")
print(salarios_icorrectos)
print("Fechas incorrectas: ")
df['FechaIngreso'] = pd.to_datetime(df['FechaIngreso'], errors='coerce', format='%Y-%m-%d')
print(df[['Nombre', 'FechaIngreso']])

valores faltantes:
Nombre          0
Edad            1
Salario         0
FechaIngreso    0
dtype: int64
Salarios incorrectos:
  Nombre  Edad    Salario FechaIngreso
2  Pedro   NaN  cinco mil   2022-07-01
Fechas incorrectas:
  Nombre FechaIngreso
0   Juan   2021-01-15
1   Ana,          NaT
2  Pedro   2022-07-01
3  Maria          NaT
4   Luis   2021-05-20
5    Ana   2020-03-12

In [13]:
import pandas as pd
data={
    'Nombre':['Juan','Ana,','Pedro','Maria','Luis','Carla'],
    'Edad':[28,None,40,45,38,34],
    'Salario':[3000,4000,4500,'cuatro mil',5000,4000],
    'Cargo':['Analista','Gerente','Desarrollador','Gerente','Analista',None],
    'FechaIngreso':['2021-01-15','2020/03/12','2022-07-01','2021/12/01',None,'2020-03-12']
} 
df = pd.DataFrame(data)
print(df)

print("valores faltantes: ")
print(df.isnull().sum())
salarios_icorrectos = df[~df['Salario'].astype(str).str.match(r'^\d+$')]
print("Salarios incorrectos: ")
print(salarios_icorrectos)
print("Fechas incorrectas: ")
df['FechaIngreso'] = pd.to_datetime(df['FechaIngreso'], errors='coerce', format='%Y-%m-%d')
print(df[['Nombre', 'FechaIngreso']])
cargos_faltantes = df[df['Cargo'].isnull()]
print("Cargos faltantes: ")
print(cargos_faltantes)

  Nombre  Edad     Salario          Cargo FechaIngreso
0   Juan  28.0        3000       Analista   2021-01-15
1   Ana,   NaN        4000        Gerente   2020/03/12
2  Pedro  40.0        4500  Desarrollador   2022-07-01
3  Maria  45.0  cuatro mil        Gerente   2021/12/01
4   Luis  38.0        5000       Analista         None
5  Carla  34.0        4000           None   2020-03-12
valores faltantes:
Nombre          0
Edad            1
Salario         0
Cargo           1
FechaIngreso    1
dtype: int64
Salarios incorrectos:
  Nombre  Edad     Salario    Cargo FechaIngreso
3  Maria  45.0  cuatro mil  Gerente   2021/12/01
Fechas incorrectas:
  Nombre FechaIngreso
0   Juan   2021-01-15
1   Ana,          NaT
2  Pedro   2022-07-01
3  Maria          NaT
4   Luis          NaT
5  Carla   2020-03-12
Cargos faltantes:
  Nombre  Edad Salario Cargo FechaIngreso
5  Carla  34.0    4000  None   2020-03-12

In [ ]:
import pandas as pd
datos={'Producto':['ProductoA','ProductoB','ProductoC','Producto D'],
 'Precio':[100,-25,100,None]} #Precionegativoyvalorfaltante
df=pd.DataFrame(datos)
print(df)
df['Validación Precio'] = df['Precio'].apply(lambda x: 'Válido' if
pd.notnull(x) and x >= 0 else 'Inválido')
print("Validación de precios--------: ")
print(df)
df_invalidos = df[df['Validación Precio'] == 'Inválido']
print("Precios inválidos----------: ")  
print(df_invalidos)

     Producto  Precio
0   ProductoA   100.0
1   ProductoB   -25.0
2   ProductoC   100.0
3  Producto D     NaN
Validación de precios--------:
     Producto  Precio Validación Precio
0   ProductoA   100.0            Válido
1   ProductoB   -25.0          Inválido
2   ProductoC   100.0            Válido
3  Producto D     NaN          Inválido
Precios inválidos----------:
     Producto  Precio Validación Precio
1   ProductoB   -25.0          Inválido
3  Producto D     NaN          Inválido

In [21]:
import pandas as pd
clientes={'IDCliente':[1,2,3,2,4],
 'Nombre':['Ana','Luis','María','Luis','Carlos']}
df_clientes=pd.DataFrame(clientes)
print("DataFrame original-------------: ")
print(df_clientes)
duplicados = df_clientes[df_clientes.duplicated('IDCliente')]
print("Duplicados---------------: ")
print(duplicados)

DataFrame original-------------:
   IDCliente  Nombre
0          1     Ana
1          2    Luis
2          3   María
3          2    Luis
4          4  Carlos
Duplicados---------------:
   IDCliente Nombre
3          2   Luis

In [27]:
from cryptography.fernet import Fernet
key = Fernet.generate_key()
cipher_suite = Fernet(key)
datos_sensibles = "1234-5678-9101-1121".encode()
datos_encriptados =cipher_suite.encrypt(datos_sensibles)
datos_desencriptados =cipher_suite.decrypt(datos_encriptados)
print("Datos Encriptados:", datos_encriptados)
print("Datos Desencriptados:",
datos_desencriptados.decode())

Datos Encriptados: b'gAAAAABoFOQ5EjYFdDj-U4PFVqupUNGPcqPd7uaDO8bmeJ1DKI56_OsURweLCuyP9I9WS3YCE2NNLUadGCNhUCFJfO5lGGHUbuFVOzbU8F2x8OucdAK2HF0='
Datos Desencriptados: 1234-5678-9101-1121