In [13]:
import pandas as pd
import numpy as np

df = pd.read_csv('DatosSuciosLab.csv')
print(df)
print("-----Valores nulos x columna-----")
#print(df.isnull().sum())
print("---------contando duplicados------------")
#print(df.duplicated().sum())

print("-----eliminando duplicados-----")
df = df.drop_duplicates()

print("imputacion de valores")
df['Edad'] = df["Edad"].fillna(df["Edad"].mean())
df['Ingresos'] = df["Ingresos"].fillna(df["Ingresos"].mean())
df['Pais'] = df["Pais"].fillna(df["Pais"].mode()[0])
df['Categoria'] = df["Categoria"].fillna(df["Categoria"].mode()[0])
df=df.dropna(subset=['Email'])
df['Pais'] = df['Pais'].str.lower()
df['Categoria'] = df['Categoria'].str.lower()
df['FechaIngreso'] = pd.to_datetime(df["FechaIngreso"], errors='coerce')

print(df)

   Nombre  Edad            Email       Pais  Categoria FechaIngreso  Ingresos
0  Carlos  34.0  carlos@mail.com   Colombia    Cliente   2021-01-15    5000.0
1     Ana  29.0     ana@mail.com   Colombia    Cliente   2020/03/12    7000.0
2    Luis   NaN    luis@mail.com     Mexico  Proveedor   2022-07-01    4000.0
3   Pedro  45.0   pedro@mail.com  Argentina        NaN   2021/12/01    6000.0
4   María  25.0   maria@mail.com   Colombia    Cliente   2021-05-20    8000.0
5     NaN  33.0   lucia@mail.com  Argentina  Proveedor   2020-03-12    7500.0
6   Lucía  30.0              NaN     Brasil  Proveedor   2019-11-30    3000.0
7  Andrés   NaN  andres@mail.com        NaN    Cliente   2022-01-01       NaN
8   Sofía  22.0   sofia@mail.com       Peru        NaN   2021/08/15    5500.0
9  Miguel  40.0  miguel@mail.com      Chile  Proveedor          NaN    6200.0
-----Valores nulos x columna-----
---------contando duplicados------------
-----eliminando duplicados-----
imputacion de valores
   Nombre   Edad            Email       Pais  Categoria FechaIngreso  Ingresos
0  Carlos  34.00  carlos@mail.com   colombia    cliente   2021-01-15    5000.0
1     Ana  29.00     ana@mail.com   colombia    cliente          NaT    7000.0
2    Luis  32.25    luis@mail.com     mexico  proveedor   2022-07-01    4000.0
3   Pedro  45.00   pedro@mail.com  argentina    cliente          NaT    6000.0
4   María  25.00   maria@mail.com   colombia    cliente   2021-05-20    8000.0
5     NaN  33.00   lucia@mail.com  argentina  proveedor   2020-03-12    7500.0
7  Andrés  32.25  andres@mail.com   colombia    cliente   2022-01-01    5800.0
8   Sofía  22.00   sofia@mail.com       peru    cliente          NaT    5500.0
9  Miguel  40.00  miguel@mail.com      chile  proveedor          NaT    6200.0