In [5]:
import pandas as pd
import numpy as np
data = {
 'Nombre': ['Juan', 'Maria', 'Pedro', 'Maria', None, 'Ana', 'Carlos', 'Juan'],
 'Edad': [25, 30, np.nan, 30, 22, 28, np.nan, 25],
 'Genero': ['M', 'F', 'M', 'F', None, 'F', 'M', 'M'],
 'Email': ['juan@mail.com', 'maria@mail.com', 'pedro@mail.com',
'maria@mail.com', 'ana@mail.com', 'ana@mail.com', None,
'juan@mail.com'],
 'Pais': ['Colombia', 'Colombia', 'Mexico', 'Colombia', 'Argentina',
'Argentina', 'Brasil', 'Colombia']
}
df = pd.DataFrame(data)
print(df)
df['Edad'].fillna(df['Edad'].mean()).round(2)
df['Genero'].fillna(df['Genero'].mode()[0], inplace=True)
df.dropna(subset=['Email'], inplace=True)
print(df)
df['Genero'].replace({'M': 'Masculino', 'F': 'Femenino'},
inplace=True)
print("\nDespués de estandarizar los valores:")
print(df)
df.reset_index(drop=True, inplace=True)
print("\nDespués de restablecer el índice:")
print(df)

   Nombre  Edad Genero           Email       Pais
0    Juan  25.0      M   juan@mail.com   Colombia
1   Maria  30.0      F  maria@mail.com   Colombia
2   Pedro   NaN      M  pedro@mail.com     Mexico
3   Maria  30.0      F  maria@mail.com   Colombia
4    None  22.0   None    ana@mail.com  Argentina
5     Ana  28.0      F    ana@mail.com  Argentina
6  Carlos   NaN      M            None     Brasil
7    Juan  25.0      M   juan@mail.com   Colombia
  Nombre  Edad Genero           Email       Pais
0   Juan  25.0      M   juan@mail.com   Colombia
1  Maria  30.0      F  maria@mail.com   Colombia
2  Pedro   NaN      M  pedro@mail.com     Mexico
3  Maria  30.0      F  maria@mail.com   Colombia
4   None  22.0      M    ana@mail.com  Argentina
5    Ana  28.0      F    ana@mail.com  Argentina
7   Juan  25.0      M   juan@mail.com   Colombia

Después de estandarizar los valores:
  Nombre  Edad     Genero           Email       Pais
0   Juan  25.0  Masculino   juan@mail.com   Colombia
1  Maria  30.0   Femenino  maria@mail.com   Colombia
2  Pedro   NaN  Masculino  pedro@mail.com     Mexico
3  Maria  30.0   Femenino  maria@mail.com   Colombia
4   None  22.0  Masculino    ana@mail.com  Argentina
5    Ana  28.0   Femenino    ana@mail.com  Argentina
7   Juan  25.0  Masculino   juan@mail.com   Colombia

Después de restablecer el índice:
  Nombre  Edad     Genero           Email       Pais
0   Juan  25.0  Masculino   juan@mail.com   Colombia
1  Maria  30.0   Femenino  maria@mail.com   Colombia
2  Pedro   NaN  Masculino  pedro@mail.com     Mexico
3  Maria  30.0   Femenino  maria@mail.com   Colombia
4   None  22.0  Masculino    ana@mail.com  Argentina
5    Ana  28.0   Femenino    ana@mail.com  Argentina
6   Juan  25.0  Masculino   juan@mail.com   Colombia

/tmp/ipykernel_46440/1611536122.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Genero'].fillna(df['Genero'].mode()[0], inplace=True)
/tmp/ipykernel_46440/1611536122.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Genero'].replace({'M': 'Masculino', 'F': 'Femenino'},